extends ../layout
extends ../menu

block content
	.row
		.large-4.columns
			h1 Create group

			if invalid
				div(data-alert, class="alert-box warning")
					| Invalid group name try again

			form(method="post", action="/group/create")
				label(for="name") Name:
				input#name(name="name", type='text', value=name, placeholder="Name")
				
				input#submit(class="button", type="submit", value="Create group")