extends ../layout
extends ../menu

block content
	h1 Groups
	if !(groupNames && groupNames.length)
		p You are not a member of any group yet
	else
		each group in groupNames
			li
				a(href="/group/"+group.groupId)= group.name