extends ../layout
extends ../menu

block content
	.row
		.large-8.columns
			h2 Name: 
				= group.name
					.large-2.columns
			a(href="/group/members/" + group.id , class="button") View Members
		.large-4.columns
			p Number of Members: 
				= group.numberOfMembers
			form(method="post", action="/group/addMember")
				input#groupId(type="hidden", name="groupId", value=group.id)
				input#groupName(type="hidden", name="groupName", value=group.name)
				input#groupMember(type="text", name="groupMember")
				input#addMember(class="button tiny", type="submit")
			if success
				.alert-box.success.radius(data-alert)
					User added successfully.
			
	
	.row
		.large-12.columns
			include ../transaction/create
			include ../transaction/all