html
	head
		title Hello worl
		link(ref='stylesheet', type='text/css', href='/stylesheets/style.css')
	body
		a(href="/") Home
			section.login
			ul
				if session.isLoggedIn
					li
						a(href="/logout") Logout
					li
						a(href="/transaction/create") New Transaction
					li
						a(href="/transactions") View transactions
					li
						a(href="/profile") Profile
					li
						a(href="/group/") Group
					li
						a(href="/group/create") Create group
				else
					li
						a(href="/login") Login
					li
						a(href="/signup") Create Account
		section.content
			block content