extends layout

block content
	form(method='post', action="/login",
	enctype='application/x-www-form-urlencoded')
		h1 Log in
		if invalid
			.error Please enter a valid email address and password.
		ul
			li
				label(for='email') Email
				input#email(name='email')
			li
				label(for='password') Password
				input#password(name='password', type='password')
			input(type='submit', value='Log in')