extends layout

block menu
	.row
		nav.top-bar
			section.top-bar-section
				if session.isLoggedIn
					ul.left
						li
							a(href="/transactions") View transactions
						li
							a(href="/group/") Group
						li
							a(href="/group/create") Create group
				else
					ul.right
						li
							a(href="/login") Login
						li
							a(href="/signup") Create Account