.columns {
	/*border: 3px solid #333;*/
}
i {
	font-size: 1.2em;
	color: #3B628D;
	text-shadow: 1px 1px 3px #558D9E;
}
i:hover { 
	color: rgb(214, 88, 83);
	text-shadow: 1px 1px 3px #333;
}
i.fi-power{
	font-size: 72;
}
i.fi-torso{
	font-size: 72;
}

i.fi-play:hover{
	font-size: 24;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.buttonMarginTop{
	margin-top: 20px;
}